body{
   
    font:15px/1.5 Arial,helvetica,sans-serif;
    padding: 0;
    margin:0;
    background-color: #f4f4f4F4;
}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
header{
    background:#35424a;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}
header ul{
    margin: 0%;
    padding: 0;
}

header li{
    
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;

}

header #branding h1{
    margin: 0;
}

header nav{
    float:right;
    margin-top: 10px;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(../images/sampleimages/pic1.jpg);
    
    height:90vh;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login-page{
   width:360px;
   padding: 10% 0 0;
   margin: auto;
}
.form{
   max-width: 360;
   margin:0 auto 100px;
   padding: 45px;
   text-align: center;

   padding: 1.5em;
   background-color:#35424a;
   color: #f6f6f6;
 
}
.form input{
   font-family: Arial, Helvetica, sans-serif;
   outline: 1;
   background: #f2f2f2;
   width:100%;
   border: 0;
   margin: 0 0 15px;
   padding:15px;
   box-sizing: border-box;
   font-size: 14px;
}




.form button{
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   outline: 0;
   background:  #e8491d;
   width:100%;
   border:2px;
   border-radius: 5px;
   padding: 15px;
   color: #ffffff;
   font-size: 14px;
   cursor: pointer;
}


.form submit :hover,.form submit:active{
   background-color:#ffffff;
}

.form .message{
   margin: 15px 0 0;
   color: #e8491d;
   font-size: 12px;
}
.form .message a{
   color: #e8491d;
   text-decoration: none;
}

.formtext{
   float: left;
}
footer{
    padding: 2px;
    margin-top:0px;
    color: #ffffff;
    background-color:#e8491d;
    text-align: center;
}
#showcase{
    min-height: 0px;

    text-align: center;
    color:#fff;
     
}
header .highlight, header .current a{
    color: #e8491d;
    font-weight:bold;
}



